@import url("https://fonts.googleapis.com/css2?family=Rubik:wght@400;500;700;900&display=swap");

:root {
  --constant-black: #181b1e;
  --constant-accent: #104bd5;
  --constant-grey: #ebebeb;
  --constant-white: #fff;

  color-scheme: light;
}

[scheme="dark"] {
  --constant-black: #ebebeb;
  --constant-accent: #104bd5;
  --constant-grey: #292727;
  --constant-white: #000;

  color-scheme: dark;
}

*:not(svg *) {
  all: unset;
  display: revert;
}

body {
  font-family: "Rubik", sans-serif;
  background-color: var(--constant-white);
  font-size: 14px;
  line-height: 20px;
  font-weight: 400;
  color: var(--constant-black);
}
