:root {
    --constant-black: #000;
    --constant-white: #fff;
    --constant-blue: #0083fc;
    --constant-grey: #a3a3a3;
    color-scheme: light;
}

.prevent-scroll{
    overflow: hidden;
}

body{
    all: none;
    margin: 0;
    padding: 10px;
    background-color: var(--constant-white);
}

[scheme='dark'] {
    --constant-white: #a3a3a3;
    --constant-grey: #282c34;
    --constant-black: #a3a3a3;
    color-scheme: dark;
}

